<div *ngFor="let person of login" class="person-container">
  <div class="person-field"><strong>ID:</strong> {{ person.id }}</div>
  <div class="person-field"><strong>Name :</strong> {{ person.name | uppercase}}</div> //used UpperCase Pipe
  <div class="person-field"><strong>Email:</strong> {{ person.email }}</div>
  <div class="person-field"><strong>Contacts:</strong> {{ person.contacts }}</div>
  <div class="person-field"><strong>Admin:</strong> {{ person.Admin ? 'Yes' : 'No' }}</div>
  <div class="actions">
    <!-- Navigate to edit user page -->
    <button (click)="onEdit(person.id)">Edit</button>
    <!-- Delete user -->
    <button (click)="onDelete(person.id)">Delete</button>
  </div>
</div>
