<div>

  <h2>Login Information Of Users</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contacts</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of login" [routerLink]="['/user',person.id]" >
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.contacts }}</td>
      <td>{{ person.Admin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>
