
<div class="container">
  <h1>Banking System</h1>
  <li>Login Information Of Users</li>
  <div *ngFor = "let user of users" class="user-card">
    <h3>{{user.id}}) {{user.name}}</h3>
    <p>Email: {{user.email}}</p>
    <p>Contact: {{user.contacts}}</p>
    <p>Is Admin? {{user.Admin ? 'Yes' : 'No'}}</p>
    <button (click) = "Login(user)" class="login-button">
      Login
    </button>

  </div>
  <div *ngIf = "users == 0" >
    <p>The user is not found</p>
  </div>
</div>
<div>
  <app-user-information></app-user-information>
</div>
